<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      throwConfigExceptions="true"
      internalLogLevel="Off" internalLogFile="c:\temp\nlog-internal.log" >

  <variable name="logdir" value="logs"/>
  
  <targets>
    <target name="logs_base"
          xsi:type="File"
          layout="[${longdate}][${level}] ${message}"
          concurrentWrites="true"
          keepFileOpen = "false"
          fileName="${basedir}/${logdir}/${logger}.log"/>
    <target xsi:type="Console"
          name="console"
          layout="[${longdate}][${level}] ${message}"/>
  </targets>
  <rules>
    <logger name="*" final="true"  minlevel="Trace" writeTo="logs_base" />
    <logger name="*" enabled="true" final="true"  minlevel="Trace" writeTo="console" />
  </rules>
</nlog>